<div id="footer">
  <div id="disclaimer">
    <p>The DAR Insignia is the property of and is copyrighted by, the National Society of the Daughters of the American Revolution.</p>
    <p>The content contained herein does not necessarily represent the position of the NSDAR.  Hyperlinks to other sites are not the responsibility of the NSDAR, the state organizations, or individual DAR chapters.</p>
  </div>
  {% if site.webmaster %}
  <div id="webmaster">
    <p>Contact the <a href="mailto:{{ site.webmaster }}">webmaster</a>.</p>
  </div>
  {% endif %}

  {% if page.date %}
  <div id="updated">
    <p>Updated: {{ page.date }}</p>
  </div>
  {% endif %}
</div>
