<header>
  {% if site.banner-text %}
  <div id="banner-text">
    <p>{{ site.banner-text }}</p>
  </div>
  {% endif %}
  <div id="banner">
    <img src="{{ '/assets/images/banner.jpg' | relative_url }}" alt="Site banner image">
  </div>
  <nav aria-label="Main Navigation">
    <ul>
    {% for item in site.data.navigation %}
      <li{% if item.link == page.url %} class="current"{% endif %}><a href="{{ item.link | relative_url }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
  </nav>
</header>
