@charset "utf-8";

$dar-blue:        #004990;
$dar-red:         #E2383F;
$dar-teal:        #298AAD;
$dar-teal-dark:   #22708C;
$dar-green:       #009663;
$dar-green-dark:  #00744d;
$dar-purple:      #611951;
$dar-purple-dark: #431238;
