@import "colors.scss";

#links {
  overflow: hidden;
  width: fit-content;
  float: right;
  background-color: #333;
  text-align: center;
  color: white;
}

#links p {
  font-size: 1.25rem;
  font-weight: bold;
}

#links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#links li a {
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}

#links li a:hover {
  background-color: #111;
}

#content {
  width: auto;
}

#content h1 {
  text-transform: uppercase;
  text-align: center;
}

form label {
  font-size: 1.25rem;
}

form input, textarea {
  display: block;
  margin: 10px;
}

$grey-color-light: #828282;
table.fancy-table {
  color: lighten(black, 18%);
  border-collapse: collapse;
  border: 1px solid ;
  th, td {
    padding: 5 5;
  }
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 40%);
    }
  }
  th {
    background-color: lighten($grey-color-light, 20%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
