@import "theme.scss";

#links {
  overflow: hidden;
  width: fit-content;
  float: right;
  background-color: $links-background-color;
  text-align: center;
  color: $links-text-color;
  font-size: 0.75rem;
}

#links p {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem;
}

#links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#links li a {
  display: block;
  padding: 0.5rem 1rem;
  color: $links-text-color;
  text-decoration: none;
}

#links li a:hover {
  background-color: $links-hover-color;
}

#content {
  width: auto;
}

#content h1 {
  text-transform: uppercase;
}

form label {
  font-size: 1.25rem;
}

form input, textarea {
  display: block;
  margin: 10px;
}

#content p:has(img) {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

#content p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid $table-border-color;
  border-collapse: collapse;
}
table {
  color: $table-text-color;
  th, td {
    padding: 5 5;
  }
  tr {
    &:nth-child(even) {
      background-color: $table-alt-row-color;
    }
  }
  th {
    background-color: $table-header-color;
    border-bottom-color: $table-divider-color;
  }
}

#content {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

#post-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  li {
    display: inline-flex;

  }

  li#previous {
    margin-right: auto;
    :before {
      content: "\2190";
    }
  }

  li#next {
    margin-left: auto;
    :after {
      content: "\2192";
    }
  }
}

.sidebar {
  float: left;
  padding: 1rem;
  width: 10rem;

  .accordian {
    background-color: $posts-nav-year-background-color;
    color: $posts-nav-year-text-color;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-out;
    transition-delay: 0.3s;

    &.active {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      transition: none;
    }
  }

  .panel {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-out;

    list-style-type: none;
    padding: 0;
    outline: $posts-nav-year-background-color solid 1px;
    outline-offset: -1px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $posts-nav-post-background-color;

    > * {
      padding: 0.2rem;
      text-align: center;
      font-family: sans-serif;
      font-size: 0.7rem;

      a {
        color: $posts-nav-post-text-color;
      }
    }

    &.active {
      max-height: 20em;
      transition: all 0.4s ease-in;
    }

    .current {
      background-color: $posts-nav-current-background-color;
      color: $posts-nav-current-text-color;
    }
  }
}

.post-content {
  padding-left: 10rem;
}
