@import "theme.scss";

#links {
  overflow: hidden;
  width: fit-content;
  float: right;
  background-color: $links-background-color;
  text-align: center;
  color: $links-text-color;
}

#links p {
  font-size: 1.25rem;
  font-weight: bold;
}

#links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#links li a {
  display: block;
  padding: 14px 16px;
  color: $links-text-color;
  text-decoration: none;
}

#links li a:hover {
  background-color: $links-hover-color;
}

#content {
  width: auto;
}

#content h1 {
  text-transform: uppercase;
}

form label {
  font-size: 1.25rem;
}

form input, textarea {
  display: block;
  margin: 10px;
}

#content p:has(img) {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

#content p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid $table-border-color;
  border-collapse: collapse;
}
table {
  color: $table-text-color;
  th, td {
    padding: 5 5;
  }
  tr {
    &:nth-child(even) {
      background-color: $table-alt-row-color;
    }
  }
  th {
    background-color: $table-header-color;
    border-bottom-color: $table-divider-color;
  }
}

#post-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  li {
    display: inline-flex;
  }

  li#previous {
    margin-right: auto;
    :before {
      content: "\2190";
    }
  }

  li#next {
    margin-left: auto;
    :after {
      content: "\2192";
    }
  }
}

