@import "theme.scss";

footer {
  font-size: 0.75rem;
  text-align: center;
  background-color: $footer-background-color;
  color: $footer-color;
  padding: 20px 20px;
  clear: right;
  display: flex;
  justify-content: space-around;

  a {
    color: $footer-color;
  }

  #branding {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    max-width: 33%;

    img {
      max-width: 100%;
    }
  }
}
