@import "colors.scss";

$footer-background-color:   $dar-blue !default;
$footer-color:              white !default;

$table-base-color:          black !default;
$table-text-color:          lighten($table-base-color, 20%) !default;
$table-divider-color:       lighten($table-base-color, 40%) !default;
$table-border-color:        lighten($table-base-color, 80%) !default;
$table-header-color:        lighten($table-base-color, 95%) !default;
$table-alt-row-color:       lighten($table-base-color, 98%) !default;

$nav-text-color:            white !default;
$nav-base-color:            $dar-red !default;
$nav-background-color:      $nav-base-color !default;
$nav-current-color:         lighten($nav-base-color, 5%) !default;
$nav-hover-color:           darken($nav-base-color, 5%) !default;

$links-text-color:          white !default;
$links-base-color:          $dar-blue !default;
$links-background-color:    $links-base-color !default;
$links-hover-color:         darken($links-base-color, 5%) !default;

$posts-nav-year-background-color: $dar-purple !default;
$posts-nav-year-text-color: white !default;
$posts-nav-post-background-color: $dar-teal !default;
$posts-nav-post-text-color: white !default;
$posts-nav-current-background-color: lighten($dar-teal, 5%) !default;
$posts-nav-current-text-color: white !default;
