<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body>
{% include header.html %}

    <main>
      <aside id="links" aria-label="Additional Links">
      {% if site.data.links.header %}
        <p>{{ site.data.links.header }}</p>
      {% endif %}
        <ul>
        {% for item in site.data.links.links %}
          <li><a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
      </aside>
      <div id="content">
      {% if page.title_heading and page.title %}
        <h1>{{ page.title | escape }}</h1>
      {% endif %}

{{ content }}

      </div>
    </main>

{% include footer.html %}
  </body>

</html>
